page-home {

}
.slides{
		initialSlide: 0;
        loop: true;
        autoplay:2000;
   
}
.slides1{
	width: 100%;
	height: 225px;
}
.header{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	color: #D80027;
}
.word1{
	padding-left: 10px;	
	padding-bottom: 10px;
}
.word3{
	padding-top: 5px;
	text-align: center;
	color:#D80027;
}
.icon1{
	height: 17px;
	width: 25px;
	padding-left:10px; 
}
.icon3{
	padding-top:8px;
	padding-bottom: 15px;
	padding-left:60px;
	padding-right: 10px;
	height: 35px;
	width: 98px;
}
.word2{
	padding-left: 10px;
	color:#000000;
}
.button1{
	height: 30px;
	width: 40px;
	padding-right: 10px;
}
.button2{
	height: 20px;
	width: 30px;
	padding-right: 10px;
}
.review{

	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	border-bottom-style: 100%;
	color:  #D80027; 

}
.symbol{
	text-align:right;
}
.card3{
	height: 60px;
}
.alert-ios .alert-button{
	color:#D80027 ;
}
.alert{
	color:#161616;
}
