page-home {

}
.background{
	background-color: #8a2839;
}
ion-content{

}
.bg{
	background-color: #e7edf2;
}
ion-slides{	
	
}
.slider1{
	autoplay : 5000;
	loop : true;
	speed : 3000;
	border-radius: 5px;
}
.slider2{
	autoplay: 7000; 
	loop: true; 
	speed: 3000;
}
.sliding{
	width:400px; 
	height:250px;
}
.sliding1{
	width:400px; 
	height:150px;
}
.isi{
	padding-top: 20px;
}
img{
	
}
.isi{
	width: 30px; 
	height: 40px;
	padding-bottom: 5px;
	padding-top: 15px;
	padding-top: 20px
}
.kategori{
	padding-top: 1px;
	border-radius: 5px;
	width: 40px;
	height: 40px;
}
